body {
  margin: 0;
  background-color: #000000;
    background-image: url('https://res.cloudinary.com/duxuhubym/image/upload/v1688268282/pexels-roman-odintsov-4551832_oywe3x.jpg');
  background-repeat: no-repeat;
background-size: auto;
  background-position: center center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}

.buttonStyle{
    border-radius : 100%;
    height: 45px;
    width : 45px;
    margin: 10px;
}
.modal{
  background-color: aqua;
  display:absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
}

.Close{
 display: flex;
 border :1px solid black;
 border-radius: 3px;
 font-size: 16px;
 font-weight: bold;
 margin:3px;
 background-color: pink;
}

.content{
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center
}
.loading{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  display: none;
   justify-content: center;
   align-items: center;
}
.loadDiv{
  color: white;
  height: fit-content;
  width: fit-content;
  font-size: 2rem;
}


.bold{
  font-weight: bold;
}

.card{
 position: relative;
  font-size: 16px;
  flex:0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 10px;
}

.card-stat{
  display: flex;
  font-size: 30px;
  font-weight: bold;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.grey{
  color: grey;
  
}

.cardinfo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  align-content: center;
  width:35vh;
  height:fit-content; 
}

.contact-card{

  flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3px;
    padding-bottom: 15px;
    background-color: white;
  
}

.card-badge{
  position: absolute;
  top:6px;
  left:6px;
  background-color: white;
  padding: 2px 2px;
  font-weight: bold;
  border-radius: 7px;

}

.imgcls{
  display: flex;
  align-self: center;
  height: 25vh;
  width: 20vh;
  border-radius: 1h2px;
}

.maindiv{

  margin:30px;
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.hero-photo{
  max-width: 400px;
  max-height: 400px;
  width:40%;
  border-radius: 15px;
  margin-top: 10px;
}

.secdiv{
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  margin: 10px 10px;
}

.divdiv{
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: column;
  background-color: #2196F3;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
 
  }
  .divdiv2{
    display: flex;
    flex-direction: column;
    background-color: #2196F3;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
   
    }

  .divdiv > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    align-items: center; 
    background-color: pink;
    width: fit-content;
    margin-left: 20%;
    border-radius: 10px;
    width:50%;
    
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content:center;
     align-items: center; 
    background-color: pink;
    height: 80%;
    width: 60%;
    margin-top: 100px;
    margin-left: 20%;
    border-radius: 15px;
  }
.container-1{ 
  display: flex;
  flex-direction: column;
  align-items: top;
}
.container-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  
}


.btn{
  float: right; 
  border-radius: 5px;
  margin:24px;
  margin-left: 60%;
  background-color: #303245;
  border-radius: 12px;
  color: #eee; 
  height: 30px;
  margin-bottom: 10px;
}

h2{
  margin:0;
  padding: 0;
}
.para{
  font-size: 22px;
  font-weight: bold;
  margin:10px;
}

.abouth1{
  color: #61dafb;
  margin-right:25vh;
  margin-left: 25vh;

}

.profile{
  display: flex;
  max-width: 450px;
  max-height: 450px;
  align-self: center;
  height: auto;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.socialLogo{
  margin: 1px;
  height: 40px;
  width:40px;
  padding-left: 10px;
  
}

.signupform{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:center;
   align-items: center; 
  background-color: pink;
  margin-top: 200px;
  margin-left: 30%;
  margin-right: 30%;
  gap: 10px;
  border-radius: 5px;
}

.signupform1{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content:center;
   align-items: center; 
  background-color: pink;
  gap: 10px;
  border-radius: 5px;
}
.h{
  text-align: center;
  margin: 10px;
}
.signupinput{
   background-color: #303245;
   border-radius: 12px;
   border: 0;
   color: #eee;
   font-size: 18px;
}
.signupinputR{
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  height: calc(2.5em + 4.75rem + 2px);
  margin-left: 30%;
  margin-right: 100px;
  color: #eee;
  font-size: 18px;
}
.signupinput1{
  margin-top: 5px;
  margin-bottom: 10px;
  background-color:dodgerblue;
   border-radius: 12px;
   border: 0;
   height: 30px;
   color: #eee;
   font-size: 18px;
}
.signupinput2{
  background-color: #303245;
   border-radius: 12px;
   color: #eee; 
   height: 30px;
   margin-bottom: 10px;
}
.signupdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left{
  display: flex;
  align-items: center;
  float:left;
 margin-left:8px;
  width:80%;
  }
  .right{
    display: flex;
    align-items: center;
  float:right;
  width:35%;
  
  }
